---
layout: null
---

details > summary {
  font:
    18px "Open Sans",
    "Calibri",
    sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #ec4801;
  border: none;
}


#box-blue {
  background-color: #364362;
  color: #FFFFFF;
  padding:25px;
  box-shadow: -10px 10px #FEC51D;
  font-family:'Open Sans', sans-serif;
}

#box-yellow {
  border: 5px solid;
  border-color:#FEC51D;
  border-radius=50px;
  padding:20px;
  font-family:'Open Sans', sans-serif;
}

#box-teal {
  background-color: #0CA6D6;
  color: #FFFFFF;
  padding:25px;
  box-shadow: 10px 10px #EC4801;
  font-family:'Open Sans', sans-serif;
}

#box-white {
  background-color: #FFFFFF;
  color: #364362;
  padding:20px;
  font-family:'Open Sans', sans-serif;
}


#header-yellow {
  border-radius: 15px;
  background: #FEC51D;
  padding: 20px;
  line-height:1;
}

#header-teal {
  border-radius: 25px;
  background: #0CA6D6;
  padding: 20px;
  line-height:1;
}

#header-blue {
  border-radius: 15px;
  background: #364362;
  padding: 20px;
  line-height:1;
}